@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
* {
    padding: 0;
}
:root{
    --primary-color: #96C9DC;
    --secondary-color: #437687;
    --isActive: black;
    --hover: #044254;
    --button : #eeff04;
}
html {
    background-color: var(--primary-color);
    color : white;
}

/* Small and All Screens */
.Logo img {
    width: 150px;
    height: 150px;
    padding: 20px;
}
nav {
	margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.51);
	background-color: var(--secondary-color);
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
    font-size: larger;
}

.ham img {
    width: 25px;
    height: 25px;
    
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}


.navigation a:hover {
	color: white;
	background-color: var(--hover);
}

nav {
	margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.51);
	background-color: var(--secondary-color);
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.ham img {
    width: 25px;
    height: 25px;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}


.navigation a:hover {
	color: white;
	background-color: var(--hover);
}


.responsive li {
	display: block;
}


.navBar{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.title {
    text-align: center;
    text-shadow: 2px 2px #000000;

}
.square {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 4px 1px #888;
    margin: 10px;
}
footer {
    
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info{
    font-size: 15pt;
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
}
.social img {
    width: 50px;
    height: 50px;
    
}
.btnsRes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.btnsRes p {
    margin: auto;
    font-size: 1.5rem;
}
.btnsRes a {
    padding: 8px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.btnsRes a:hover{
    background-color: white;
    color: black;
}

.conContent {
    max-width: 600px;
    margin: 10px auto;
    
}
.formBlock{
    max-width: 500px;
    margin: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px;
    margin: 10px auto;
    max-width: 480px;
    background-color: rgba(0,0,0,0.10);
    border-radius: 2em;
}
input {
    padding: 0.5em;
}

label {
    text-align: left;
    padding: 10px;
}

#submitbtn {
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
}
textarea {
    padding: 20px;
}

.levels {
    display: block;
    background-color: rgba(0,0,0,0.10);
    font-size: 1.2em;
    padding: 15px;
    text-align: center;

}
.unstyled {
    list-style: none;
}
.level1desc, .level2desc, .level3desc {
    padding: 10px;
    background-color: rgba(0,0,0,0.20);
    border-style: solid;
    border-width: 2px;
}

.level1desc:hover {
    background-color: rgba(0,0,0,0.05);
}
.level2desc:hover {
    background-color: rgba(0,0,0,0.05);
}
.level3desc:hover {
    background-color: rgba(0,0,0,0.05);
}
.formBlock {
    display: block;
}
.radioLevels {
    font-size: 1.1em;
}

.radioLevel1 {
    padding: 10px;
    margin: 5px;
    background-color: rgba(0,0,0,0.20);
}
.radioLevel2 {
    padding: 10px;
    margin: 5px;
    background-color: rgba(0,0,0,0.20);
}
.radioLevel3 {
    padding: 10px;
    margin: 5px;
    background-color: rgba(0,0,0,0.20);
}
.radioLevel1:hover {
    background-color: rgba(0,0,0,0.05);
}
.radioLevel2:hover {
    background-color: rgba(0,0,0,0.05);
}
.radioLevel3:hover {
    background-color: rgba(0,0,0,0.05);
}



@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .Logo img {
        width: 200px;
        height: 200px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navBar {
        display: grid;
        grid-template-columns: 1fr 8fr;

    }
    .title{
        text-align: center;
        font-size: 22pt;
    }
}
@media only screen and (min-width: 1024px) {
    .Logo img {
        width: 200px;
        height: 200px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navBar {
        display: grid;
        grid-template-columns: 1fr 8fr;
    }
    .title{
        text-align: center;
        font-size: 22pt;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
        
    }
}