@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
* {
    padding: 0;
}
:root{
    --primary-color: #96C9DC;
    --secondary-color: #437687;
    --isActive: black;
    --hover: #044254;
    --button : #eeff04;
}
html {
    background-color: var(--primary-color);
    color : white;
}


/* Small and All Screens */
.Logo img {
    width: 150px;
    height: 150px;
    padding: 20px;
}
nav {
	margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.51);
	background-color: var(--secondary-color);
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
    font-size: larger;
}

.ham img {
    width: 25px;
    height: 25px;
    
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}


.navigation a:hover {
	color: white;
	background-color: var(--hover);
}

nav {
	margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.51);
	background-color: var(--secondary-color);
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.ham img {
    width: 25px;
    height: 25px;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}


.navigation a:hover {
	color: white;
	background-color: var(--hover);
}

.social img {
    width: 50px;
    height: 50px;
    
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}


.navBar{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.title {
    text-align: center;
    text-shadow: 2px 2px #000000;

}
.square {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 4px 1px #888;
    margin: 10px
}
footer {
    
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info{
    font-size: 15pt;
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
}
.subPages {
    display: flex;
    flex-direction: row;
}
.sp {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.sp h2 {
    letter-spacing: 3px;
    padding: 2px;
}

.sp a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: #044254;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.contentHeader {
    font-size: 22pt;
    margin: auto;
    text-align: center;
    padding-right: 30px;
    color: var(--secondary-color);
    text-shadow: 2px 2px #000000;
}
.s h2 {
    font-size: 22pt;
    letter-spacing: 2px;
}
.s ul {
    list-style-type: disc;
    text-align: left;
    
}
.s li{
    opacity: 0.80;
    padding: 5px;
}
.s a{
    text-decoration: none;
    color: var(--hover);
}
.s a:hover {
    background-color: var(--primary-color);
}
.packages img {
    width: 200px;
    height: 300px;
}
.acc ul {
    list-style-type: none;
}
.acc li {
    opacity: 0.5;
}
.p1, .p2 {
    margin: 25px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px;
    margin: 0 auto;
    max-width: 480px;
    background-color: rgba(0,0,0,0.10);
    border-radius: 2em;
}
input {
    padding: 0.5em;
}

label {
    text-align: left;
    padding: 10px;
}

#submitbtn {
    padding: 20px;
    margin: 10px; 
    font-size: 1.5em;
}
textarea {
    padding: 20px;
}
.rooms ul {
    list-style-type: none;
}
.rooms li {
    opacity: .50;
}
.content {
    margin-left: 20px;
    margin-right: 20px;
}
.rooms h3 {
    font-size: 22pt;
}
.resv a{
    padding: 8px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
}
.btnsRes a:hover{
    background-color: white;
    color: black;
}
.bronze {
    max-height: 450px;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .Logo img {
        width: 200px;
        height: 200px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navBar {
        display: grid;
        grid-template-columns: 1fr 8fr;

    }
    .title{
        text-align: center;
        font-size: 22pt;
    }
    .sp {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sp h2 {
        font-size: 34pt;
        
    }
    .sp a {
        font-size: 18pt;
        padding-left: 75px;
        padding-right: 75px;
    }
    .serv .square{
        text-align: left;
        margin-right: 150px;
        margin-left: 150px;
        padding: 30px;
    }
    .packages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px;
    }
    .roomHeader {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .imghead {
        grid-column: 1/1;
        grid-row: 1/1;
        padding: 10px;
    }
    .headHead{
        grid-column: 3/5;
    }
    .headHead h3 {
        font-size: 32pt;
    }

}
@media only screen and (min-width: 1024px) {
    .Logo img {
        width: 200px;
        height: 200px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navBar {
        display: grid;
        grid-template-columns: 1fr 8fr;
    }
    .title{
        text-align: center;
        font-size: 22pt;
    }
    .sp {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sp h2 {
        font-size: 28pt;
        
    }
    .sp a {
        font-size: 22pt;
        padding-left: 150px;
        padding-right: 150px;
    }
    .contentHeader {
        font-size: 34pt;
    }
    .serv .square{
        text-align: left;
        margin-right: 250px;
        margin-left: 250px;
        padding: 30px;
    }
    /* .packages {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
    .packages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 100px;
    }
    .p1, .p2 {
        margin: 10px;
    }
    .rooms img {
        width: 300px;
    }
    .rooms {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .roomHeader {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .imghead {
        grid-column: 1/1;
        grid-row: 1/1;
        padding: 10px;
    }
    .headHead{
        grid-column: 3/5;
    }
    .headHead h3 {
        font-size: 32pt;
    }

}